<div class="col-12 practice bg" id="practice">
	<div class="row justify-content-center">
		<div class="col-12">
			<p class="t-1">Примеры из нашей практики</p>
		</div>
		<div class="col-12 col-md-10">
			<div class="row">
				<div class="col-12 block">
					<div class="row">
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="row">
								<div class="col-2 i">
									<i class="fa fa-file-text-o fa-3x"></i>
								</div>
								<div class="col-10">
									<p class="t-2">Заголовок (дело о...)</p>
									<p class="t-3">
										<b>Обвинение:</b>
										<%= "Пример текста. " * 10 %>
									</p>
									<p class="t-3">
										<b>Результат:</b>
										<%= "Пример текста. " * 10 %>
									</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="row">
								<div class="col-2 i">
									<i class="fa fa-file-text-o fa-3x"></i>
								</div>
								<div class="col-10">
									<p class="t-2">Заголовок (дело о...)</p>
									<p class="t-3">
										<b>Обвинение:</b>
										<%= "Пример текста. " * 10 %>
									</p>
									<p class="t-3">
										<b>Результат:</b>
										<%= "Пример текста. " * 10 %>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 block">
					<div class="row">
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="row">
								<div class="col-2 i">
									<i class="fa fa-file-text-o fa-3x"></i>
								</div>
								<div class="col-10">
									<p class="t-2">Заголовок (дело о...)</p>
									<p class="t-3">
										<b>Обвинение:</b>
										<%= "Пример текста. " * 10 %>
									</p>
									<p class="t-3">
										<b>Результат:</b>
										<%= "Пример текста. " * 10 %>
									</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="row">
								<div class="col-2 i">
									<i class="fa fa-file-text-o fa-3x"></i>
								</div>
								<div class="col-10">
									<p class="t-2">Заголовок (дело о...)</p>
									<p class="t-3">
										<b>Обвинение:</b>
										<%= "Пример текста. " * 10 %>
									</p>
									<p class="t-3">
										<b>Результат:</b>
										<%= "Пример текста. " * 10 %>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>