<!-- Header -->
<%= render 'shared/header' %>
<!-- End -->

<!-- Content -->
<div class="container-fluid content-marg">
	<div class="row">
		<!-- Promo block -->
		<%= render 'shared/promo' %>
		<!-- End -->

		<!-- Services block -->
		<%= render 'shared/services' %>
		<!-- End -->

		<!-- About us block -->
		<%= render 'shared/about' %>
		<!-- End -->

		<!-- Certificates block -->
		<%= render 'shared/certificates' %>
		<!-- End -->

		<!-- Practice block -->
		<%= render 'shared/practice' %>
		<!-- End -->

		<!-- Contacts block -->
		<%= render 'shared/contacts' %>
		<!-- End -->
	</div>
</div>
<!-- End -->