<!DOCTYPE html>
<html>
	<head>
		<title>Адвокаты в Орле</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- OG -->
		<%= render 'layouts/og' %>
		<!-- End -->
		
		<!-- Fonts -->
		<%= render 'layouts/fonts' %>
		<!-- End -->
		
		<!-- Yandex map -->
		<%= render 'layouts/ymap' %>
		<!-- End -->
		<script type="text/javascript">
			$(function() {
				$('#tooltip').tooltip();
			});
		</script>
	</head>

	<body data-spy="scroll" data-target="#navbar" id="body">
		<%= yield %>
		<%= debug(params) if Rails.env.development? %>
	</body>
</html>